@media (max-width: 1000px) and (min-width: 800px){
    /* ABOUT US SECTION */

    .products-about-us {
        padding: 10% 5% 5% 5%;
    }
    .about-us-text {
        font-size: 1.3rem;
    }
    /* CTA SECTION */
    footer {
        padding: 40px;
    }

}


@media (max-width: 800px) and (min-width: 640px) {

    /*Products Home page*/
    .products-home {
        z-index: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 1% 8%;
    }

    .products-title h2 {
        font-size: 36px;
        font-family: 'Roboto';
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        padding: 50px 0;
    }

    p.testimonal {
        font-family: 'Roboto';
        letter-spacing: 1.2px;
        font-size: 22px;
        color: #1f3927;
        font-style: italic;
    }

    h1.quote-writer {
        font-family: 'Roboto';
        font-size: 25px;
        padding-top: 20px;
    }

    .cta-content-home {
        font-family: 'Roboto';
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #3882F6;
        border-radius: 15px;
        padding: 30px;
        flex-wrap: wrap;
    }

    .cta-content-home button {
        border: 3px solid #f9faf8;
        background: transparent;
        padding: 10px;
        color: #f9faf8;
        font-size: 18px;
        font-weight: 900;
        border-radius: 12px;
        transition: scale 350ms;
        margin-top: 15px;
    }

    /* ABOUT US SECTION */
    .products-about-us {
        padding: 12% 5% 5% 5%;
    }
    .about-us-text {
        font-size: 1.1rem;
    }
    /* CTA SECTION */
    footer {
        padding: 50px;
    }


}

@media (max-width: 640px) and (min-width: 490px) {

    /*Products Home page*/
    .products-home {
        z-index: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 1% 8%;
    }

    .products-title h2 {
        font-size: 36px;
        font-family: 'Roboto';
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        padding: 50px 0;
    }

    p.testimonal {
        font-family: 'Roboto';
        letter-spacing: 1.2px;
        font-size: 22px;
        color: #1f3927;
        font-style: italic;
    }

    h1.quote-writer {
        font-family: 'Roboto';
        font-size: 25px;
        padding-top: 20px;
    }

    .cta-content-home {
        font-family: 'Roboto';
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #3882F6;
        border-radius: 15px;
        padding: 30px;
        flex-wrap: wrap;
    }

    .cta-content-home button {
        border: 3px solid #f9faf8;
        background: transparent;
        padding: 10px;
        color: #f9faf8;
        font-size: 18px;
        font-weight: 900;
        border-radius: 12px;
        transition: scale 350ms;
        margin-top: 15px;
    }

     /*Products Home page*/
     .products-home {
        z-index: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 1% 8%;
    }

    .products-title h2 {
        font-size: 36px;
        font-family: 'Roboto';
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        padding: 50px 0;
    }

    p.testimonal {
        font-family: 'Roboto';
        letter-spacing: 1.2px;
        font-size: 22px;
        color: #1f3927;
        font-style: italic;
    }

    h1.quote-writer {
        font-family: 'Roboto';
        font-size: 25px;
        padding-top: 20px;
    }

    .cta-content-home {
        font-family: 'Roboto';
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #3882F6;
        border-radius: 15px;
        padding: 30px;
        flex-wrap: wrap;
    }

    .cta-content-home button {
        border: 3px solid #f9faf8;
        background: transparent;
        padding: 10px;
        color: #f9faf8;
        font-size: 18px;
        font-weight: 900;
        border-radius: 12px;
        transition: scale 350ms;
        margin-top: 15px;
    }

    /* ABOUT US SECTION */
    .products-about-us {
        padding: 19% 5% 5% 5%;
    }
    .about-us-text {
        font-size: 1rem;
    }
    .about-us-photo {
        rotate: 0deg;
    }
    /* CTA SECTION */
    footer {
        padding: 50px;
    }


}