/* UNIVERSAL STYLINGS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}



/* HOME PAGE STYLINGS */
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-ThinItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: 'Roboto' , sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.nav-links a {
    color: #e5e7eb;
}

.logo {
    width: 100%;
}

.menu {
    display: flex;
    font-size: 18px;
    }

.menu li {
    padding: 5px 14px;
    color: #e5e7eb;
    font-size: 18px;
    }

.banner {
     background-color: #1f2937;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5% 8%;
     flex-wrap: wrap;
     overflow: hidden;
    }

.banner h1 {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #f9faf8;
}

.banner p {
    font-size: 18px;
    font-family: 'Roboto';
    color: #e5e7eb;
}

.banner a {
    font-family: 'Roboto';
    background: #3882f6;
    color: #f9faf8;
    padding: 10px 18px;
    display: inline-block;
    border-radius: 12px;
    margin-top: 20px;

}

.products-title h2 {
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 50px 50px 50px 0;
}

.products-home {
    z-index: 0;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    padding: 1% 8%;
}

.products-home p {
    color: #333;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 20px; 
} 

.product-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: fill;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.product-home img {
    height: auto;
    width: 50%;
   
}

.product-home img {
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.banner-testimonial {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 8%;
    margin-top: 50px;
}

p.testimonal {
    font-family: 'Roboto';
    letter-spacing: 1.2px;
    font-size: 36px;
    color: #1f3927;
    font-style: italic;
}

h1.quote-writer {
    font-family: 'Roboto';
    font-size: 30px;
}

.call-to-action-home {
    width: 100%;
    padding: 60px;
}

.cta-content-home {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3882F6;
    border-radius: 15px;
    padding: 30px;
}

.cta-text-home {
    color: white;
    line-height: 2rem;
}

.cta-content-home button {
    border: 3px solid #f9faf8;
    background: transparent;
    padding: 10px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    border-radius: 12px;
    transition: scale 350ms;
}

.cta-content-home button a {  
    color: #f9faf8;
}  

.back-to-topp a{
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: #f9faf8;
    border-radius: 12px;
    font-family: 'Roboto';
    
}

.back-to-top a:hover {
    background-color: #3882f6;
}












/* products page */
/* HEADER STYLINGS */


    header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #1F2937;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
    }
    
    nav a {
        color: white;
        padding: 0 10px;
        text-decoration: none;
    }
    
    nav a:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #3882F6;
    }

/* ABOUT US SECTION - PRODUCTS PAGE */

.products-about-us {
    display: flex;
    justify-content: space-around;
    padding: 8% 5% 5% 5%;
    background-color: #1F2937;
    width: 100vw;
}

.about-us-text{
    width: 60%;
    font-family: 'Roboto';
    font-size: 26px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    border: 3px solid #3882f6;
    padding: 20px;
}

.image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.image-holder img{
    height: 45vh;
    width: auto;
    border-radius: 50%;
    rotate: 90deg; 
}

/* product stylings */
/* Product element*/

.products-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-heading {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 10px;
    text-align: center;
    background: #E5E7EB;
    
}

.products {
    z-index: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.product {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    object-fit: fill;
}

.product img {
    height: 50%;
    width: auto;
}

.image-holder-coming-soon {
    width: 460px;
    height: 460px;
}

#coming-soon-image {
    width: 100%;
    height: auto;
}

.product-text {
    font-size: 18px;
}

.product:hover {
    cursor: pointer;
    background: #e5e7eb;
    border-radius: 10%;
}

.product:hover p {
    color: #3882f6;
}

.products > .product {
    transition: scale 550ms ease, opacity 450ms linear;
}

.products:has(.product:hover) .product:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
}

/* CALL TO ACTION STYLINGS */

.call-to-action {
    width: 100%;
    padding: 60px;
}

.cta-content {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3882F6;
    border-radius: 20px;
    padding: 15px;
}

.cta-text {
    color: white;
    line-height: 2rem;
}

.cta-text h4 {
    font-size: 2rem;
}

.cta-content button {
    border: 3px solid white;
    background-color: white;
    padding: 10px;
    color: #3882F6;
    font-size: 18px;
    font-weight: 900;
    border-radius: 20px;
    transition: scale 350ms;
}
.cta-content button:hover {
    cursor: pointer;
    scale: 1.2;
}

/* FOOTER STYLINGS - PRODUCTS/ABOUT US */

footer {
    height: 8vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}









/* Contact Page */
/* CONTACT US TOP */

.contact-us {
    margin-top: 5rem;
}
.contact-us .icons {
    display: flex;
    justify-content: space-around;
}
.contact-us .icon {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-us .icon i {
    padding: 20px;
    font-size: 2rem;
    transition: scale 350ms ease, opacity 450ms linear;
}
.contact-us .icon a {
    padding: 20px;
    font-size: 2rem;
    color: black;
    transition: scale 350ms ease, opacity 450ms linear;
}
.contact-us .icon i:hover {
    scale: 2;
    cursor: pointer;
    color: #3882f6;
}
.contact-us .icon a:hover {
    scale: 2;
    cursor: pointer;
    color: #3882f6;
    text-decoration: none;
}
.contact-us aside {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 50px 0;
}

/* BLOCKQUOTE SECTION */

.blockquote-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
    width: 90%;
    padding: 5%;
    margin: 2%  5%;
    border: #adabaa 5px solid;
    background: url(./img/headphones\ graphic.png) no-repeat center 100%;
    background-size: 100%;
    height: 17rem;
}
.blockquote-section img {
    border-radius: 50%;
    display: flex;
    border: white 2px solid;
}

/* FAQ SECTION */

.FAQ-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 5% 8%;
    font-family: 'Roboto' , sans-serif;

    width: 100%;
}
.FAQs {
    display: flex;
    flex-wrap: wrap;
}
.FAQ-section dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    padding: 15px;
    margin: 15px;
    border: 3px solid #1f2937;
    border-radius: 10px;
    text-align: center;
    background-color: #E5E7EB;
    color: #1F2937;
}
.FAQ-section dt {
    padding: 10px;
    font-size: 1.3rem;
}
.FAQ-section dd {
    padding: 10px;
}
