
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

a {
    text-decoration: none;
    }

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: 'Roboto' , sans-serif;
    
    }

.nav-links a {
    color: #e5e7eb;
}

.logo {
    width: 100%;
}

.menu {
    display: flex;
    font-size: 18px;
    }

.menu li {
    padding: 5px 14px;
    color: #e5e7eb;
    font-size: 18px;
    }

.banner {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 8%;
}

.banner h1 {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #f9faf8;
}

.banner p {
    font-size: 18px;
    font-family: 'Roboto';
    color: #e5e7eb;
}

.banner a {
    font-family: 'Roboto';
    background: #3882f6;
    color: #f9faf8;
    padding: 10px 18px;
    display: inline-block;
    border-radius: 12px;
    margin-top: 20px;

}

.products h2 {
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #1f2937;
}




/* Universal stylings */

* {
    box-sizing: border-box;
    margin: 0px;
}

/* products page */
/* header stylings */


header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: 10vh;
    position: fixed;
    top: 0;
}

.page-links {
    display: flex;
}

.page-links a {
    padding: 0 15px;
    text-decoration: none;
    color: white;
}


/* About us stylings */
/* Text */


.about-us {
    display: flex;
    margin-top: 10vh
}

.about-us-text {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

/* image */

iframe {
    position:absolute;
    height: 100%;
    width: 100%;
    rotate: 90deg;
    width: auto;
    top: 0;
    left: 0;
}


.image-holder {
    display: flex;
}
.image-holder img{
    position: relative;
    height: 100%;
    width: 100%;
}

/* product stylings */

/* Contact Page */
.ContactTop{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
   
}
.topLinks{
    color: #E5E7EB;
    font-weight: 48px extra-bold;
}
.logo{
    color: #F9FAF8;
}

#writing{
    color: #e5e7eb;
    font-family: 'Roboto' , sans-serif;
}
.Contact{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 5% 8%;
}

.links  {
    padding: 15%;
    background-color: #3882F6;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15%;
  }
  .banner1-2 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 8%;
    font-weight: 36px;
    font-style: light italic;
}
.FAQ{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 5% 8%;
    font-family: 'Roboto' , sans-serif;
}
